input,
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

output {
  border: #fff solid 1px;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}

input[type="number"] {
  width: 40px;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

 input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #b5b5b5;
  outline: none;
} 

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 250px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  background-color: rgb(189,185,178);
  background-size: 15% 100%;
  /*background-repeat: no-repeat;*/
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #9f9f9f;
  border: 2px solid #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}




input[type="range"]::-webkit-slider-thumb:hover {
  background: #fff;
}


input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

