/*#61892F - #86C232 - #222629 - #474B4F - #6B6E70*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222629;
    background-image: url(../img/background.jpg);
    
    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.header {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    margin: 20px auto;
}

.intro {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 72px;
    text-transform: uppercase;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;   
}
.display {
    
    width: 60%;
    height: 100%;
    max-width: 100%;
    opacity: .9;    
}

canvas {
    background-color: #fff;
    border-radius: 10px;
}

/*----Setting-----*/

.setting {
    
    color: white;
    width: 40%;
    height: 100%;
    padding: 20px;
    
    border-radius: 3px;
}

.setting__inner {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 5px 20px;
    height: 98%;
    width: 90%;
    
}

.setting__maintext {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.choose__figure{
    margin-bottom: 30px;
    
}

.choose__figure__title {
    margin-bottom: 0px;
    color: white;
}
.choose__figure__icon{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;    
}
.figure__icon{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 10px;
    opacity: 0.7;
    transition: 0.15s linear;
    
}

.figure__icon:hover{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.figure__icon--active {
    opacity: 1;
    height: 70px;
    width: 70px;
    border: 6px solid rgb(44, 103, 234);
    border-radius: 10px;
}

.range {
    margin-bottom: 20px;
}


.button {
    width: 100%;
    margin: 0 auto;
    height: 30px;
}

.boot {
    display: block;
    width: 30%;
    border: 1px solid rgb(128, 162, 237);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 10px;
    margin: 0px auto;
    color: #c9c9e3;
    margin-top: 8px;
    transition: 0.2s linear;
}

.boot:hover{
    border: 3px solid rgb(44, 103, 234);
    padding: 4px 10px;
}

.point {
    color: rgb(44, 103, 234);
    display: block;
    position: absolute; 
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


